<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smart.mapper.SmartEventMapper">

  <resultMap id="BaseResultMap" type="com.briup.smart.bean.SmartEvent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="daytime" jdbcType="DATE" property="daytime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from smart_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateid" parameterType="java.lang.Integer">
  	update smart_event
  	set id = id-1
  	where id > #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.briup.smart.bean.SmartEvent">
    insert into smart_event (id, type, content, 
      time, daytime)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{daytime,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.briup.smart.bean.SmartEvent">
    update smart_event
    set type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      daytime = #{daytime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByDay" parameterType="java.util.Date" resultMap="BaseResultMap">
    select id, type, content, time, daytime
    from smart_event
    where daytime = #{daytime,jdbcType=DATE}
  </select>


  <select id="selectthree"  parameterType="com.briup.smart.bean.SmartEvent" resultMap="BaseResultMap">
    select id, type, content, time, daytime
    from smart_event
    <where>
    	1 = 1
    	<if test="content != null">and content like CONCAT('%',#{content,jdbcType=VARCHAR},'%')</if>
    	<if test="type !=null">and type = #{type,jdbcType=VARCHAR}</if>
    	<if test="daytime != null">and daytime = #{daytime,jdbcType=DATE}</if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select id, type, content, time, daytime 
  	from smart_event
  </select>

</mapper>